<!doctype html>
<html>
<title>О нас | Кафе "Парк Авеню"</title>
<head>
<meta charset="utf-8">
<meta name="robots" content="index, follow" />
<meta name="yandex" content="index, follow" />
<meta name="author" content="Александр Гурский" />
<link rel="shortcut icon" href="../public/image/logo.png" type="image/x-icon">

<link rel="stylesheet" type="text/css" href="../public/css/aboutAtmosphere.css">
<link rel="stylesheet" type="text/css" href="../public/css/aboutMenu.css">
<link rel="stylesheet" type="text/css" href="../public/css/aboutUslugam.css">
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter51341649 = new Ya.Metrika2({
                    id:51341649,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/51341649" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</head>
<body>
    <% include blocks/preloader.ejs %>
      <% include blocks/indexAdaptive.ejs %>
  <div class='black'>
  </div>
  <div class = 'workSpace'>
      <div class = 'AllItems'>
        <div class = 'centerMain'>
          <div class = 'mainMenyPark'>
          Кафе <br>
          "Парк Авеню"<br>
            </div>

      <% include blocks/aboutWeDiscription.ejs %>
    </div>
      </div>
    <div class='extraItems'>
            <div class ='extraAbout location'>
              <div class='exPhoto gps'>
              </div>
              <div class='exAbText'>
                г. Барановичи, Парк имени 30-летия ВЛКСМ
              </div>
            </div>
            <div class='map adaptive'>
              <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A03f5552e5936b514b9b4d81e4db127666e3081220d2156e781911c37bd852b99&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
              </div>
            <div class ='extraAbout telephone'>
              <div class='exPhoto tel'>
              </div>
              <div class='exAbText'>
                +375 (163) 41-09-78 <br>
                +375 (163) 41-11-54
              </div>
            </div>
            <div class ='extraAbout time'>
              <div class='exPhoto tim'>

              </div>
              <div class='exAbText'>


                    <div class='adressText'>
                          Летний период:
                      </div>
                    <div class='adressName'>
                      10:00 - 23:00
                      </div>
                      <div class='adressText'>
                            Зимний период:
                        </div>
                      <div class='adressName'>
                        10:00 - 22:00
                        </div>
                        <div class='adressText'>
                              Банкетное обслуживание:
                          </div>
                        <div class='adressName'>
                          10:00 - 01:00
                          </div>
            
              </div>
            </div>
            <div class ='extraAbout'>
              <div class='exPhoto vk'>

              </div>
              <div class='exAbText'>
<a href="https://vk.com/park_avenyu_baranovichi_new" target="_blank">
              park_avenyu_baranovichi_new
 </a>              </div>
            </div>

            <div class='adaptive'>
              <% include blocks/aboutWeDiscription.ejs %>
            </div>
    </div>
          <% include blocks/allMainBorder.ejs %>
  </div>

<link rel="stylesheet" type="text/css" href="../public/css/about.css">
</body>
</html>
