<!doctype html>
<html>
<title>adminka</title>
<head>
<link rel="shortcut icon" href="../public/image/logo.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../public/css/adaptive/administrator.css">
</head>
<body>
    <div class = 'galeryAdd'>

  <form action="/profile" method="post" enctype="multipart/form-data">
  <input type="file" name="photo" />
<input type="text" name="text1" value="text default">
      <input type='submit'>
</form>
    </div>
</body>
</html>
