<!doctype html>
<html>
<title>Галерея кафе "Парк Авеню"</title>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="../public/image/logo.png" type="image/x-icon">
<meta name="robots" content="index, follow" />
<meta name="yandex" content="index, follow" />
<meta name="author" content="Александр Гурский" />
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter51341649 = new Ya.Metrika2({
                    id:51341649,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/51341649" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</head>
<body>
    <% include blocks/preloader.ejs %>
  <div class='black'>
  </div>
  <div class = 'workSpace'>
      <div class = 'AllItems' id ='AllItems'>
        <div id="gallery" class="photo-grid">

      </div>



      </div>
      <div class='extraItems'>

      </div>
          <% include blocks/allMainBorder.ejs %>
  </div>
  <script src="../public/js/galery.js " ></script>
<link rel="stylesheet" type="text/css" href="../public/css/galery.css">
  <% include blocks/indexAdaptive.ejs %>
</body>
</html>
