<!doctype html>
<html>
<head>
<meta charset="utf-8">

<link rel="shortcut icon" href="../public/image/logo.png" type="image/x-icon">
</head>
<body>
  <% include blocks/preloader.ejs %>
          <% include blocks/indexAdaptive.ejs %>
  <div class='black'>
  </div>
<div class = 'workSpace'>

    <div class = 'AllItems'>
        <div class='hi'>
         ДОБРО ПОЖАЛОВАТЬ
       </div>
             <div class='imageFull'>
                 <div class='image'>
                 </div>
            </div>
       <div class='goHi'>
          Приходите<br> <span>будем рады видеть вас в кафе "Парк Авеню"</span>
       </div>
    </div>

    <div class='extraItems'>
      <div class='headerLogo adaptive'>
        </div>
      <div class='extra adaptive' >
        <div class='adress'>
            <div class='adressName'>
            г. Барановичи, Парк имени 30-летия ВЛКСМ
              </div>
        </div>
         <div class='adress'>
           <div class='adressText'>
                 Время работы:
             </div>
             <div class='adressName'>
               ЕЖЕДНЕВНО 10:00 - 22:00
               </div>
         </div>
         <div class='telNumber'>
           +375 (163) 41-09-78
           <br>
           +375 (163) 41-11-54
         </div>
    </div>

      <div class='extra ' >
        <div class = 'extraName'>
          НОВЫЙ ГОД
        </div>
          <a href='/service/akcii'>
        <div class = 'extraPhoto extraIndexAkcii'>
        </div>
          </a>
        <div class = 'extraDisc'>
          Приближается самый любимый всеми праздник - Новый год.
        </div>
    </div>


      <div class='extra ' >
        <div class = 'extraName'>
          МЕНЮ
        </div>
          <a href='/menu'>
        <div class = 'extraPhoto extraIndex0'>
        </div>
          </a>
        <div class = 'extraDisc'>
        На основе свежих, качественных и проверенных ингредиентов создано эксклюзивное меню для самых взыскательных гурманов.
        </div>
    </div>

      <div class='extra ' >
        <div class = 'extraName'>
        УСЛУГИ
        </div>
        <a href='/service'>
        <div class = 'extraPhoto extraIndex1'>
        </div>
        </a>
        <div class = 'extraDisc'>
          По предварительной записи действует банкетное меню
          с широким выбором блюд
        </div>
      </div>

      <div class='extra ' >
        <div class = 'extraName'>
         О НАС
        </div>
        <a href='/about'>
        <div class = 'extraPhoto extraIndex2'>
        </div>
        </a>
        <div class = 'extraDisc'>
        Кафе «Парк Авеню» – уютное, прекрасно оформленное, атмосферное заведение
        </div>
      </div>


    </div>
        <% include blocks/allMainBorder.ejs %>

        <link rel="stylesheet" type="text/css" href="../public/css/inedexService.css">
            <link rel="stylesheet" type="text/css" href="../public/css/index.css">
</div>
</body>
</html>
