<!doctype html>
<html>
<title>Кафе "Парк Авеню"</title>
<head>
<meta charset="utf-8">
<meta name = "description" content = "Кафе Парк Авеню находится в самом сердце нашего чудесного города - молодом парке, на пересечении улиц Гагарина и Штоккерау. Это удивительное место, в котором вы можете провести приятно время в кругу друзей
К вашим услугам банкетное обслуживание, проведение вечеринок, презентаций, свадеб, фуршетов.">

<meta name = "keywords" content = "кафе, Барановичи, Парк Авеню, банкеты, фуршеты, корпоративы, пицца, горячее, блюда, перекусить, акции">
<meta name="robots" content="index, follow" />
<meta name="yandex" content="index, follow" />
<meta name="author" content="Александр Гурский" />

<link rel="shortcut icon" href="../public/image/logo.png" type="image/x-icon">
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter51341649 = new Ya.Metrika2({
                    id:51341649,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/51341649" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</head>
<body>
  <% include blocks/preloader.ejs %>
          <% include blocks/indexAdaptive.ejs %>
  <div class='black'>
  </div>
<div class = 'workSpace'>

    <div class = 'AllItems'>
        <div class='hi'>
         ДОБРО ПОЖАЛОВАТЬ
       </div>
             <div class='imageFull'>
                 <div class='image'>
                 </div>
            </div>
       <div class='goHi'>
          Приходите<br> <span>будем рады видеть вас в кафе "Парк Авеню"</span>
       </div>
    </div>

    <div class='extraItems'>
      <div class='headerLogo adaptive'>
        </div>
      <div class='extra adaptive' >
        <div class='adress'>
            <div class='adressName'>
            г. Барановичи, Парк имени 30-летия ВЛКСМ
              </div>
        </div>
         <div class='adress'>
           <div class='adressText'>
                 Время работы:
             </div>
             <div class='adressName'>
               ЕЖЕДНЕВНО 10:00 - 22:00
               </div>
         </div>
         <div class='telNumber'>
           +375 (163) 41-09-78
           <br>
           +375 (163) 41-11-54
         </div>
    </div>

      <div class='extra ' >
        <div class = 'extraName'>
          НОВЫЙ ГОД
        </div>
          <a href='/service/akcii'>
        <div class = 'extraPhoto extraIndexAkcii'>
        </div>
          </a>
        <div class = 'extraDisc'>
          Приближается самый любимый всеми праздник - Новый год.
        </div>
    </div>


      <div class='extra ' >
        <div class = 'extraName'>
          МЕНЮ
        </div>
          <a href='/menu'>
        <div class = 'extraPhoto extraIndex0'>
        </div>
          </a>
        <div class = 'extraDisc'>
        На основе свежих, качественных и проверенных ингредиентов создано эксклюзивное меню для самых взыскательных гурманов.
        </div>
    </div>

      <div class='extra ' >
        <div class = 'extraName'>
        УСЛУГИ
        </div>
        <a href='/service'>
        <div class = 'extraPhoto extraIndex1'>
        </div>
        </a>
        <div class = 'extraDisc'>
          По предварительной записи действует банкетное меню
          с широким выбором блюд
        </div>
      </div>

      <div class='extra ' >
        <div class = 'extraName'>
         О НАС
        </div>
        <a href='/about'>
        <div class = 'extraPhoto extraIndex2'>
        </div>
        </a>
        <div class = 'extraDisc'>
        Кафе «Парк Авеню» – уютное, прекрасно оформленное, атмосферное заведение
        </div>
      </div>


    </div>
        <% include blocks/allMainBorder.ejs %>

        <link rel="stylesheet" type="text/css" href="../public/css/inedexService.css">
            <link rel="stylesheet" type="text/css" href="../public/css/index.css">
</div>
</body>
</html>
