<!doctype html>
<html>
<title>Услуги кафе "Парк Авеню"</title>
<head>
<meta charset="utf-8">
<meta name="robots" content="index, follow" />
<meta name="yandex" content="index, follow" />
<meta name="author" content="Александр Гурский" />
<link rel="shortcut icon" href="../public/image/logo.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../public/css/inedexService.css">
<link rel="stylesheet" type="text/css" href="../public/css/service.css">
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter51341649 = new Ya.Metrika2({
                    id:51341649,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/51341649" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</head>
  <body>
      <% include blocks/preloader.ejs %>
        <% include blocks/indexAdaptive.ejs %>
    <div class='black'>
    </div>
    <div class = 'workSpace'>
        <div class = 'AllItems'>
          <div class = 'centerMain' id = 'centerMain'>
                    <div class ='serviceName'>
                    <%=post.name %>
                    </div>
                    <div class ='serviceText'>
                    <%=post.text %>
                  </div>
                  <hr>
                      <div class ='serviceMenu'>
                        При организации банкетов, кафе "Парк Авеню" предоставляет эксклюзивное оформление залов и особое меню.
                      </div>

                      <div class = 'index slideShowParty'>
                        <div class = 'img'>
                        </div>
                        <div class = 'img'>
                        </div>
                        <div class = 'img'>
                        </div>
                        <div class = 'img'>
                        </div>
                        <div class = 'img'>
                        </div>
                        <div class = 'img'>
                        </div>
                      </div>
          </div>
          <div class ='extraAbout telephone'>
            <div class='exPhoto tel'>

            </div>
            <div class='exAbText'>
              +375 (163) 41-09-78 <br>
              +375 (163) 41-11-54
            </div>
          </div>
        </div>
        <div class='extraItems'>
          <div class = 'serviceBlock'>
              <% include blocks/indexService.ejs %>
          </div>
        </div>
            <% include blocks/allMainBorder.ejs %>
    </div>
<link rel="stylesheet" type="text/css" href="../public/css/serviceOneAdaptive.css">
  </body>
</html>
