<!doctype html>
<html>
<title>Услуги кафе "Парк Авеню"</title>
<head>
<meta charset="utf-8">
<meta name="robots" content="index, follow" />
<meta name="yandex" content="index, follow" />
<meta name="author" content="Александр Гурский" />
<link rel="shortcut icon" href="../public/image/logo.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../public/css/inedexService.css">
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter51341649 = new Ya.Metrika2({
                    id:51341649,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/51341649" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</head>
  <body>
      <% include blocks/preloader.ejs %>
        <% include blocks/indexAdaptive.ejs %>
    <div class='black'>
    </div>
    <div class = 'workSpace'>
        <div class = 'AllItems'>
          <div class = 'centerMain' id = 'centerMain'>
            <div class='allService'>
            <div class='servicePhoto'>
            </div>
            <div class='serviceTextMain'>
                Хотите уютно и весело отдохнуть? Сытно и вкусно поужинать или пообедать? Вы можете позвонить
                нам, и заказать столик, а мы будем рады вам создать атмосферу уюта,тепла. Приходите, будем рады видеть вас.
            </div>
          </div>
        </div>
        </div>
        <div class='extraItems'>
          <div class='allService adaptive'>

          <div class='serviceTextMain'>
              Хотите уютно и весело отдохнуть? Сытно и вкусно поужинать или пообедать? Вы можете позвонить
              нам, и заказать столик, а мы будем рады вам создать атмосферу уюта,тепла. Приходите, будем рады видеть вас.
          </div>
          <div class='servicePhoto'>
          </div>
        </div>
          <div class = 'serviceBlock'>
              <% include blocks/indexService.ejs %>
          </div>
        </div>
            <% include blocks/allMainBorder.ejs %>

    </div>

  <link rel="stylesheet" type="text/css" href="../public/css/service.css">
    <link rel="stylesheet" type="text/css" href="../public/css/serviceadaptive.css">
  </body>
</html>
