@keyframes fade1 {
0%{ opacity: 0; }
10%{ opacity: 1; }
20%{ opacity: 1; }
30%{ opacity: 1; }
40%{ opacity: 0; }
50%{ opacity: 0; }
60%{ opacity: 0; }
70%{ opacity: 0; }
80%{ opacity: 0; }
90%{ opacity: 0;}
100% { opacity: 0;}
}

.mainMenuUslugam div{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
width: 100%;
height: 100%;
border-radius: 25px;
overflow: hidden;
opacity:0;
animation-name: fade1;
animation-duration: 20s;
animation-iteration-count: infinite;
background-repeat: no-repeat;
background-size: 100% 100%;
-webkit-box-align: end;
-webkit-align-items: flex-end;
-ms-flex-align: end;
align-items: flex-end;

-webkit-box-shadow:
inset 0 0 30px #000,
inset 0 0 30px #000,
inset 0 0 30px #000;

-moz-box-shadow:
inset 0 0 30px #000,
inset 0 0 30px #000,
inset 0 0 30px #000;

box-shadow:
inset 0 0 30px #000,
inset 0 0 30px #000,
inset 0 0 30px #000;
}

.mainMenuUslugam div:nth-child(1) {
  position: relative;
  background-image: url("../image/about/furshet.jpg");
  animation-delay: 0s; }
.mainMenuUslugam div:nth-child(2) {
  background-image: url("../image/about/furshet0.jpg");
  position: relative;
  top:-100% ;
  animation-delay: 5s; }
.mainMenuUslugam div:nth-child(3) {
  background-image: url("../image/about/furshet3.jpg");
  position: relative;
  top:-200% ;
  animation-delay: 10s; }
.mainMenuUslugam div:nth-child(4) {
  background-image: url("../image/about/furshet2.jpg");
  position: relative;
  top:-300% ;
  animation-delay: 15s;
}
