.centerMain{
  text-align: center;
  font-size:35px;
  color:black;
}
.extraItems{
  display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;display: flex;
  flex-direction: column;

  align-items: center;

    justify-content: center;
    height: 100%;
}
.extraAbout{
  display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
  justify-content: center;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dashed grey;
  font-size: 1.5em;

  flex-direction: column;

  padding-bottom: 20px;
  text-align: center;
}

.exPhoto{
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
    justify-content: center;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.gps{
    background-image: url("../image/gps.png");
    background-position: center;
    background-size: 100% 100%;
}
.tel{
  background-image: url("../image/telephone.png");
  background-position: center;
  background-size: 100% 100%;
}
.tim{
  background-image: url("../image/time.png");
  background-position: center;
  background-size: 100% 100%;
}
.vk{
  width: 100px;
  background-image: url("../image/vk.png");
  background-position: center;
  background-size: 100% 100%;
}
.exAbText a{
  text-decoration: none;
  color:black;
  cursor: pointer;
  word-break: break-all;
}
.AllItems{
  display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
  flex-direction: column;
  align-items:center;
/  border: 1px solid red;
}
.mainMenyPark{
  margin-top: 20px;
  font-family: elzevir;
    font-size: 50px;
}
.mainMenuAtmosphere, .mainMenuBluda, .mainMenuUslugam{
font-family: classic;
  text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, .4), 18px 18px 10px rgba(0, 0, 0, .4);
  color:#f5f5dc;
  height: 29vw;
/  border: 3px dashed #f2f291;
  border-radius: 25px;
  margin: 5px;
}
.menuAtmosphere{
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
    justify-content: center;
/  border-top: 2px solid red;
/  border-bottom: 2px solid red;
  padding-top:20px;
  padding-bottom:20px;
}
.menuAtmosphereText, .mainMenuAtmosphere, .mainMenuBluda, .mainMenuUslugam{
  width: 90%;
}
.menuAtmosphereText{
  text-align: justify;
  font-family: 'antiqua';
}

.mainScroll::-webkit-scrollbar {width:0px;}

@media screen and (orientation:portrait) {

  .map{
    height:60vw;
    width: 99%;
  }
  .extraItems{
    display: block;
  }
.AllItems{
  display: none;
}
.extraItems{
  width: 99%;
}
.mainMenuAtmosphere, .mainMenuBluda, .mainMenuUslugam{
  height: 59vw;
text-align: center;
  font-size: 1.3em;
}

.extraAbout{
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction:row;
  text-align: left;
  padding: 0px;
  margin: 0px;
}
.exPhoto{
  width: 50px;
  margin-left: 10px;
}
.exAbText{
  width: calc(90% - 50px);
  margin-left: 10px;
}
}
