#gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  width: 35vw;
  margin-top: 6vw;
  align-items: center;
}

.photo-grid img {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 5px black;
    float: left;
    height: 9vw;
    width: 15vw;
    padding: 10px;
    position: relative;
    transition: all 0.4s ease-in 0s;
    z-index: 2;
}
.photo-grid img:nth-child(2n) {
    transform: translate(10px, 0px) rotate(8deg);
}
.photo-grid img:nth-child(2n+1) {
    left: 25px;
    transform: translate(-10px, -20px) rotate(-5deg);
}
.photo-grid img:nth-child(3n) {
    left: 17px;
    top: -10px;
    transform: translate(-10px, -20px) rotate(-15deg);
}
.photo-grid img:nth-child(5n) {
    left: -8px;
    top: 20px;
}
.photo-grid img:nth-child(6n) {
    transform: translate(-10px, -10px) rotate(15deg);
}
.photo-grid img:nth-child(9n) {
    transform: translate(-10px, -10px) rotate(22deg);
}


#gallery img:focus {
position:relative;
  z-index: 100;
  outline: none;
  pointer-events: none;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.6);
  transform: rotate(360deg) scale(2.3) ;
  z-index: 10000;
  align-self: center;

}
.centerMain{
  width: 100%;
  /border: 2px solid red;
  overflow-x: hidden;
}
.AllItems{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
justify-content: center;
/  border: 1px solid red;
overflow-x: hidden;
width: 60%
}
.extraItems{
  width: 15%;
}

.folberName{
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.2s linear;
}
.folberName:hover{
  background-color: grey;
}
@media screen and (orientation:portrait) {
  #gallery {
    width: 70vw;

  }

  .photo-grid img {
      height: 20vw;
      width: 30vw;
  }

.header{
  display: none;
}
.extraItems{
display: none;
}
.AllItems{
  width: 95%;
  align-self: center;
}
}
