.AllItems{
  		transition: all 0.3s linear;
}
.AllItems:hover{
  color:#8B4513;
}

.AllItems:hover .hi{
  font-size: 35px;
}
.imageFull{
  display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
    justify-content: center;
}
.image{
  width: 35vw;
  height: 35vw;
//  border:1px solid red;
  background-image: url("../image/indexPhoto.jpg");
  background-size: 100% 100%;
  margin-top: 5%;
  background-position: center;
}
.extra{
  display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;

  margin: 10px;
  width: 23vw;
  height: 30vw;
  border-bottom: 1px dotted grey;

  flex-direction: column;

  text-align: center;
}
.extraName{
  width: 100%;
  height: 20%;
  font-size: 25px;
  margin-top: 0.5em;
}
.extraDisc{
  width: 100%;
  height: 20%;
  margin-top: 1em;
}
.extraPhoto{
  width: 21vw;
  height: 21vw;
/  border:1px solid blue;
  transition: all 0.7s linear;
  background-image: url("../image/indexPhoto.jpg");
  background-size: 100% 100%;
}
.extraIndex1{
  background-image: url("../image/extraIndex1.jpg");
  background-size: 100% 100%;
}
.extraIndex0{
  background-image: url("../image/extraIndex0.jpg");
  background-size: 100% 100%;
}
.extraIndex2{
  background-image: url("../image/extraIndex2.jpg");
  background-size: 100% 100%;
}
.extraIndexAkcii{
  background-image: url("../image/indexAkcii.jpg");
  background-size: 100% 100%;
}
.extraPhoto:hover{
opacity:0.6;
transform: scale(0.85, 0.85);
}
.hi{
  transition: all 0.4s linear;
  margin-top: 7%;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  height: 40px;
}
.goHi{
  margin-top: 1em;
  text-align: center;
  font-size: 40px;
}
.goHi span{
  font-size: 20px;
}
.adaptive{
  display: none;
}

@media screen and (orientation:portrait) {
.header{
  display: none;
}
.extraItems{
  width: 95%;
}
.AllItems{
  display: none;
}
.extra{
  width: 89vw;
  height: 95vw;
}
.extraPhoto{
  width: 60vw;
  height: 60vw;
}
.headerLogo{
  width: 100%;
  height:50vw;
}
.adaptive{
  display: flex;
}
}
