
.ItemsCenter{
	height: 430px;
	width: 290px;
	margin: 10px;
	 border-radius:25px;
	 position: relative;
/	 background-color:black;
	background-image:url("../image/table.jpg");
	/border: 2px dotted #f5f5dc;
	 background-repeat: no-repeat;
	 background-position: center;
	 background-size: 100% 100%;
}

.knopka {
	opacity: 0;
  background-color: #eee;
	padding: 15px;
	border-radius: 45px;
	position: fixed;
	left:  20px;
	bottom: 20px;
  cursor: pointer;
	transition: all .3s ease-in-out;
	background-color: black;
	color: black;
}

.knopka:hover{
	background-color:  black;
	color:black;
}

.pName{
margin: 0;
	text-align: center;
	font-family: "left";
font-size: 1.5em;
color:   black;
padding-top: 10%;
height: 15%;
overflow: hidden;
}

/* хром, сафари */
.inner::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.inner { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.inner { overflow: -moz-scrollbars-none; }
.addCart{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	cursor: pointer;
	border-radius: 8px;
	border:2px dotted  black;
	-webkit-box-pack: space-evenly;
     -ms-flex-pack: space-evenly;
   justify-content: space-evenly;
	-webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
	margin: 5px;
}

.pPrice, .weight{
	cursor: pointer;
	color: black;
	font-size: 24px;
	letter-spacing: 1.3px;
}

.centerMenu {
	display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
	background-color: black;
  flex-grow: 1;
  border:2px solid  black;
  border-radius: 25px;
	-webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
}


.notification-bar {
    position: absolute;
    width: 99%;
    top: 0;
}

.notification-text {
    background-color:  black;
    padding: 15px;
    color: black;
    font-size: 14px;
    text-align: center;
    position: absolute;
    width: 100%;

    -webkit-animation: initiate 350ms ease;
    -moz-animation: initiate 350ms ease;
    -o-animation: initiate 350ms ease;
    animation: initiate 350ms ease;
}
.notification-bar input {
    display: none;
}
.notification-bar label {
    cursor: pointer;
    color: #fff;
    position: absolute;
    z-index: 5;
    display: inline-block;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.notification-bar label[for=hide] {
    right: 15px;
    top: 11px;
    width: 24px;
    height: 24px;

    -webkit-animation: initiate 350ms ease;
    -moz-animation: initiate 350ms ease;
    -o-animation: initiate 350ms ease;
    animation: initiate 350ms ease;
}
.notification-bar label[for=show] {
    width: 45px;
    height: 50px;
    border-radius: 0px 0px 3px 3px;
    right: 10px;

}

.notification-bar input[value=show]:checked ~ label[for=show],
.notification-bar input[value=hide]:checked ~ label[for=hide],
.notification-bar input[value=hide]:checked ~ .notification-text {
    -webkit-transition: ease 350ms;
    -moz-transition: ease 350ms;
    -o-transition: ease 350ms;
    transition: ease 350ms;

    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}
.notification-bar input[value=hide]:checked ~ label[for=show],
.notification-bar input[value=show]:checked ~ label[for=hide],
.notification-bar input[value=show]:checked ~ .notification-text {
    -webkit-transition: ease 350ms;
    -moz-transition: ease 350ms;
    -o-transition: ease 350ms;
    transition: ease 350ms;

    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
}

.container{
	border-radius: 25px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front, .back{
  background-size: cover;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 100%;
	height: 100%;
	width: 100%;
	min-width: 100%;
	border-radius: 25px 25px 0px 0px;
	color: black;
	font-size: 1.5rem;
}

.imageMenu{
	height: 50%;
}
.container{
	height: 100%;
}
.back{

  /  background-image: -webkit-repeating-linear-gradient(top left,rgb(239, 252, 255) 0%,rgb(242, 255, 170) 28.9%,rgb(245, 252, 255) 50.7%,rgb(239, 252, 202) 81.9%,rgb(241, 252, 255) 100%);
    /* IE10+ */
/    background-image: repeating-linear-gradient(to bottom right,rgb(239, 252, 255) 0%,rgb(242, 255, 170) 28.9%,rgb(245, 252, 255) 50.7%,rgb(239, 252, 202) 81.9%,rgb(241, 252, 255) 100%);
/    background-image: -ms-repeating-linear-gradient(top left,rgb(239, 252, 255) 0%,rgb(242, 255, 170) 28.9%,rgb(245, 252, 255) 50.7%,rgb(239, 252, 202) 81.9%,rgb(241, 252, 255) 100%);

}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .1;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
		border-radius: 25px 25px 0px 0px;
}


.back{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 40%;
    position: absolute;
    left: 0;
    width: 100%;
		height: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
		color:black;
		overflow-x: hidden;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}


.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}
