<div class = 'menuAtmosphere' id = 'box'>
  <div class='menuAtmosphereText'>
    «Парк Авеню» - это классическое кафе с летней террасой. Исходя из меню (белорусское,
    европейское), это универсальное заведение, в которое с одинаковым
    успехом могут приходить компании и семейные пары с детьми. Приятным
    бонусом можно назвать полноценное вегетарианское меню.
  </div>
    <div class = 'mainMenuAtmosphere'>

          <div class = img1>
            Это удивительное место, в котором вы можете провести время в дружной обстановке.
          </div>
          <div class = img2>
            Это удивительное место, в котором вы можете провести время в дружной обстановке.
          </div>
          <div class = img3>
            Это удивительное место, в котором вы можете провести время в дружной обстановке.
          </div>
          <div class = img4>
            Это удивительное место, в котором вы можете провести время в дружной обстановке.
          </div>
    </div>
</div>
<div class = 'menuAtmosphere' id = 'box'>

<div class='menuAtmosphereText thisShow'>
    Уютный зал на 60 мест дополняет летняя терраса, для которой используется
    световое оформление в ночное время суток. Разноцветные гирлянды, свечи,
    напольные лампы на террасе и освещение самого парка создают атмосферу
    романтичности и таинственности. Кроме того, парк, где находится кафе,
    это идеальное место для фотосессии.
      </div>

    <div class = 'mainMenuBluda' id = 'box'>
         <div class = img1>
           Гостепреимная атмосфера, по домашнему вкусные и недорогие блюда, приготовленные мастерами своего дела.
         </div>
         <div class = img2>
           Гостепреимная атмосфера, по домашнему вкусные и недорогие блюда, приготовленные мастерами своего дела.
         </div>
         <div class = img3>
              Гостепреимная атмосфера, по домашнему вкусные и недорогие блюда, приготовленные мастерами своего дела.
         </div>
         <div class = img4>
              Гостепреимная атмосфера, по домашнему вкусные и недорогие блюда, приготовленные мастерами своего дела.
         </div>
    </div>

</div>

  <div class = 'menuAtmosphere' id = 'box'>
    <div class='menuAtmosphereText'>
        Праздничное меню - это изысканные и красиво оформленные блюда европейской
        и белорусской кухни, которые согласовывают в обязательном порядке,
        учитывая все пожелания заказчика.
        Выездная регистрация свадьбы, музыкальное сопровождение на свой вкус,
        парковка и другие удобства к услугам гостей от кафе «Парк Авеню».
  </div>
        <div class = mainMenuUslugam id = 'box'>

          <div class = img1>
          К вашим услугам банкетное обслуживание, проведение вечеринок, презентаций, свадеб, фуршетов.
          </div>
          <div class = img2>
            К вашим услугам банкетное обслуживание, проведение вечеринок, презентаций, свадеб, фуршетов.
          </div>
          <div class = img3>
            К вашим услугам банкетное обслуживание, проведение вечеринок, презентаций, свадеб, фуршетов.
          </div>
          <div class = img4>
            К вашим услугам банкетное обслуживание, проведение вечеринок, презентаций, свадеб, фуршетов.
          </div>

  </div>
</div>
