<title>Кафе "Парк Авеню"</title>
<meta charset="utf-8">
<meta name = "description" content = "Кафе Парк Авеню находится в самом сердце нашего чудесного города - молодом парке, на пересечении улиц Гагарина и Штоккерау. Это удивительное место, в котором вы можете провести приятно время в кругу друзей
К вашим услугам банкетное обслуживание, проведение вечеринок, презентаций, свадеб, фуршетов.">

<meta name = "keywords" content = "кафе, Барановичи, Парк Авеню, банкеты, фуршеты, корпоративы, пицца, горячее, блюда, перекусить, акции">

<meta name='viewport' content='width=device-width,initial-scale=1'/>
<meta content='true' name='HandheldFriendly'/>
<meta content='width' name='MobileOptimized'/>
<meta content='yes' name='apple-mobile-web-app-capable'/>
<link rel="shortcut icon" href="../public/image/logo.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../public/css/header.css">
<link rel="stylesheet" type="text/css" href="../public/css/style3.css">
  <body>
    <div class = header>

      <div class='headerLogo'>
        </div>

      <div class = 'headerMenu'>
        <ul class="bmenu">
          <li>
          <a href="/">Главная</a>
          </li>
            <li>
            <a href="/menu">Меню</a>
            </li>
            <li>
            <a href="/service">Услуги</a>
            </li>
            <li>
              <a href="/galery">Галерея</a>
            </li>
            <li>
              <a href="/about">О нас</a>
            </li>
          </ul>
      </div>
      <div class='telNumber'>
        +375 (163) 41-09-78
        <br>
      +375 (163) 41-11-54
      </div>

      <div class='adress'>

        <div class='adressText'>
              Время работы:
          </div>
          <div class='adressName'>
            ЕЖЕДНЕВНО 10:00 - 22:00
            </div>
      </div>

      <div class='adress'>
        <div class='adressText'>
            Наш адрес:
          </div>
          <div class='adressName'>
          г. Барановичи, Парк имени 30-летия ВЛКСМ
            </div>
      </div>
      <div class='map'>
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A03f5552e5936b514b9b4d81e4db127666e3081220d2156e781911c37bd852b99&amp;width=99%&amp;height=20vw&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
      <div class='alex'>
      designed by Alex Gurski ©
      </div>
    </div>
</body>
