
  <div class = 'nashiUslugi'>
    Наши услуги
    </div>

<div class = 'allService'>
    <div class = service>
      <a href ='/service/svadba'>
          <div class = 'event svadba'>
            <div class = 'eventName '>
              Свадьбы
            </div>
            <div class = 'eventText'>
    Кафе «Парк Авеню» предлагает просторный зал для проведения свадьбы с изысканным украшением зала.
    Размеры и планировка нашего зала позволяют проводить свадьбу с общим количеством приглашенных гостей до 60  человек.
            </div>
          </div>
          </a>
    </div>

    <div class = service>
<a href ='/service/korporativ'>
          <div class = 'event korporativ'>
            <div class = 'eventName '>
              Корпоративы
            </div>
            <div class = 'eventText'>
    В нашей жизни всегда должно быть
    достаточно места для праздника. Лучшим способом отметить праздник является проведение совместного банкета с
    коллегами по работе.
            </div>
          </div>
</a>
    </div>

    <div class = service>
      <a href ='/service/birthday'>
        <div class = 'event birthday'>
            <div class = 'eventName '>
              Дни рождения
            </div>
            <div class = 'eventText'>
                  Каждый хочет встретить день рождения в приятной обстановке с любимыми людьми, кафе "Парк Авеню" предоставит вам эту возможность.
            </div>
        </div>
        </a>
    </div>

    <div class = service>
      <a href ='/service/children'>
        <div class = 'event deti'>
            <div class = 'eventName '>
              Детский Праздник
            </div>
            <div class = 'eventText'>
          Не знаете, как организовать детский День рождения? Чтобы из обычного праздника детский День рождения превратился в незабываемый, наш коллектив, с радостью возьмет все заботы на себя.
            </div>
        </div>
        </a>
    </div>



  </div>
