
 <link rel="stylesheet" href="../public/css/adaptive/indexAdaptive.css">
<div id="nav-trigger" class="nav-trigger open">
<span class="line"></span>
<span class="line"></span>
<span class="line"></span>
</div>
<nav id="nav" class="out">
<ul>
  <li><a href="/"><span class="nav-label">ГЛАВНАЯ</span></a></li>
  <li><a href="/menu"><span class="nav-label">МЕНЮ</span></a></li>
  <li><a href="/service"><span class="nav-label">УСЛУГИ</span></a></li>
  <li><a href="/galery"><span class="nav-label">ГАЛЕРЕЯ</span></a></li>
  <li><a href="/about"><span class="nav-label">О НАС</span></a></li>
</ul>
</nav>
  <script  src="../public/js/IndexAdaptive.js"></script>
